@font-face{
    font-family: Chewy;
    src: url( ../fonts/Chewy/Chewy.ttf)
}
@font-face{
    font-family: Satisfy-Regular;
    src: url(../fonts/Satisfy/Satisfy-Regular.ttf)
}
@font-face{
    font-family: Courgette-Regular;
    src: url(../fonts/Courgette/Courgette-Regular.ttf)
}
@font-face{
    font-family: CraftyGirls;
    src: url(../fonts/Crafty_Girls/CraftyGirls.ttf)
}
@font-face{
    font-family: LobsterTwo-Regular;
    src: url(../fonts/Lobster_Two/LobsterTwo-Regular.ttf)
}