/*.blank{
    width: 980px;
    margin: 0 auto;
}*/
.clr{
    clear: both;
}
*{
    padding: 0px;
    margin: 0px;
    outline: 0px;
}
a{
    text-decoration: none;
    /*color: black;*/
}
.heading{
    float: left;
    width: 980px;
    height: 30px;
    background: linear-gradient(to bottom, white, gainsboro);
    background: -webkit-linear-gradient(white, gainsboro); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, gainsboro); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, gainsboro); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, gainsboro); /* Standard syntax */
    margin: 40px 0px 0px 0px;
}
.heading_left{
    float: left;
    width: 50%;
    height: 25px;
    margin-left: 17px;
}
.heading_right{
    float: right;
    width: 17%;
    height: 25px;
}

.heading p{
    margin: 0px;
    padding: 0px;
    font-family:  Courgette-Regular;
    font-size: 20px;
    color: black;
}

/*[[[[[[[[[     BODY PART START HERE     ]]]]]]]]]*/
.full_wrap{
    background-color: white;
    width: 100%;
}

.main_wrap{
    width: 980px;
    margin: 0 auto;
}
.main_header{
    float: left;
    width: 100%;
    height: 75px;
    margin: 0px;
    background-color:#C2D1F0;
    /*background-color: 	#E7EDF9;*/
    /*background-color: #747D90;*/
}
.main_header .header{
    float: left;
    width: 980px;
    margin: 0 auto;
    /*border-bottom: 1px solid magenta;*/
}
.header .logo{
    float: left;
    width: 255px;
    height: 75px;
    /*background-color: white;*/
    border-right: 5px;
}
.menu{
    float: left;
    width: 588px;
    height: 75px;
    font-family: serif;
    font-size: 26px;
    /*background-color: #99B2E6;*/
    /*background: linear-gradient(to top,whitesmoke, white);*/
    /*margin-bottom: 20px;*/
    /*margin-right: 1px;*/
    /*margin-left: 1px;*/
}
.menu ul{
    float: left;
    margin: 0px;
    padding: 0px;
}
.menu ul li{
    float: left;
    height: 74px;
    background-color: black;
     /*background: linear-gradient(to top,whitesmoke, white);*/
    list-style-type: none;
    /*margin-right: 1px;*/
    /*padding-top: 1px;*/
}
.menu a{
    float:left;
    font-size:20px;
    padding-left: 7.95px;
    background-color: 	#C2D1F0;
    color: black;
    padding-right: 6px;
    padding-bottom: 25px;
    padding-top: 26px;
    text-decoration: none;
    margin-right: 1px;
}
/*.menu a:visited{
    color: #FF33CC;
}*/
.menu a:hover{
    /*opacity: .5;*/
    background-color: #CEDAF3;
    /*background: linear-gradient(to top,white, whitesmoke, white);*/
}
.smm_logo{
    float: left;
    width: 131px;
    height: 75px;
    /*background-color: #E7EDF9;*/
    /*background-color: white;*/
     /*background: linear-gradient(to top,whitesmoke, white);*/
    margin: 0px;
    padding-left: 6px;
}
.smm_logo a{
    text-decoration: none;
}
.f{
    float: left;
    width: 28px;
    height: 28px;
    /*background-color: silver;*/
    background-color:#191975;
    color: white;
    text-align: center;
    font-size: 24px;
    border-radius: 25px;
    margin: 5px 10px 5px 5px;
}
.f:hover{
    background-color:#191975;
    transform: scale(1.3);
    -ms-transform: scale(1.3);; /* IE 9 */
    -webkit-transform: scale(1.3); /* Chrome, Safari, Opera */
}
.t{
    float: left;
    width: 28px;
    height: 28px;
    background-color: #19A3FF;
    color: white;
    text-align: center;
    font-size: 25px;
    border-radius: 25px;
    margin: 5px 10px 5px 5px;
}
.t:hover{
    transform: scale(1.3);
    -ms-transform: scale(1.3);; /* IE 9 */
    -webkit-transform: scale(1.3); /* Chrome, Safari, Opera */
}

.p{
    float: left;
    width: 28px;
    height: 28px;
    background-color: #990000;
    color: white;
    text-align: center;
    font-family: CraftyGirls;
    font-size: 20px;
        margin: 5px 10px 5px 5px;
    border-radius: 25px;
}
.p:hover{
    transform: scale(1.3);
    -ms-transform: scale(1.3);; /* IE 9 */
    -webkit-transform: scale(1.3); /* Chrome, Safari, Opera */
}
.l{
    float: left;
    width: 28px;
    height: 28px;
    background-color: 	#4747FF;
    color: white;
    text-align: center;
    font-size: 25px;
        margin: 5px 10px 5px 5px;
    border-radius: 25px;
}
.l:hover{
    transform: scale(1.3);
    -ms-transform: scale(1.3);; /* IE 9 */
    -webkit-transform: scale(1.3); /* Chrome, Safari, Opera */
}
.g{
    float: left;
    width: 28px;
    height: 28px;
    background-color: #FF6600;
    color: white;
    text-align: center;
    font-size: 20px;
       margin: 5px 10px 5px 5px;
    border-radius: 25px;
}
.g:hover{
    transform: scale(1.3);
    -ms-transform: scale(1.3);; /* IE 9 */
    -webkit-transform: scale(1.3); /* Chrome, Safari, Opera */
}
.y{
    float: left;
    width: 28px;
    height: 28px;
    background-color: #FF5050;
    color: white;
    text-align: center;
    font-size: 20px;
     margin: 5px 10px 5px 5px;
    border-radius: 25px;
}
.y:hover{
    transform: scale(1.3);
    -ms-transform: scale(1.3);; /* IE 9 */
    -webkit-transform: scale(1.3); /* Chrome, Safari, Opera */
}

/*End Header, Logo, Menu, Social*/ 

/*Start BODY OTHER PART*/ 

.headerbottomblock{
    float: left;
    width: 60%;
    height: 2px;
    background-color: #FF33CC;
    /*background-color:  #E27575;*/
    margin: 30px 20% 30px 20%;
    border-radius: 50px;
}

/*{{{{{{   Start Content Area   }}}}}}*/

.content {
    float: left;
    background-color: whitesmoke;
    /*height: 340px;*/
    width: 980px;
    border: 1px solid silver;  
    /*margin-bottom: 40px;*/
    
}
/*Width : 400px*/
.content_left{
    float: left;
    background-color: white;
    height: 300px;
    width: 320px;
    margin: 20px;
    
}
/*Width : 360px*/
.content_center{
    float: left;
    background-color: whitesmoke;
    height: 300px;
    width: 320px;
    margin: 20px 30px 20px 10px;
    border-bottom: 1px solid gray;
    
}
.content_center_top{
    float: left;
    height: 100px;
    width: 320px;
    /*background-color: whitesmoke;*/
    background: url("../images/hello.png") center no-repeat;
}
.content_center_bottom{
    float: left;
    height: 200px;
    width: 320px;
    background-color: whitesmoke;
}
/*Width : 220px*/
.content_right{
    float: left;
    /*background: linear-gradient(to top,whitesmoke, white);*/
    background-color: whitesmoke;
    height: 299px;
    width: 239px;
    margin: 20px 20px 20px 0px;
    border-bottom: 1px solid gray;
    text-align: center;
    
}
.content_right .content_header{
    float: left;
    height: 25px;
    width: 162px;
    /*font-family: Courgette-Regular;*/
    text-align: center;
    padding: 0px 34px;
    margin: 5px;
    font-size: 15px;
    background: linear-gradient(to bottom, white, gainsboro);
    background: -webkit-linear-gradient(white, gainsboro); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, gainsboro); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, gainsboro); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, gainsboro); /* Standard syntax */
 
}

.content_header h3{
    margin: 0px;
}
.content_right p{
    text-align: center; 
}

.main_portfolio{
    float: left;
    width: 100%;
    margin: 0px;
    background-color: white;
}
.portfolio{
    float: left;
    width: 1050px;
    /*height: 420px;*/
    /*border: 1px solid gainsboro;*/
    margin: 0 auto;
    background-color: white;
}
/*portfolio no*/
.portfolio h3{ 
    text-align: center;
    margin: 0px;
    font-size: 18px;
/*    color: #ed418d;*/
    color: black;
    border-radius: 10px;
    background-color: #C2D1F0;
}
/*Portfolio iamge add*/
.portfolio .pimage{
    float: left;
    /*background: url("../image/Portfolio1.jpg") center no-repeat;*/
    color: black;
    width: 227px;
    margin: 5px;
}
/*text in portfolio iamge*/
.portfolio .ptext1{
    float: left;
    color: black;
    text-align: center;
    padding: 5px;
    border-bottom: 2px solid  white;
    
}
/*text in porftolio bottom*/
.portfolio .ptext2{
    float: left;
    color: black;
    text-align: justify;
    padding: 8px;
}

mark{
    float: right;
    background-color: #C2D1F0;
    color: black;
    padding: 5px 0px;
}
mark:hover{
    background-color: #8CBC2A;
    transition: all 2s;
}
mark a:hover{
      text-decoration: none;
      
}
/*portoflio part width 245 px*/
.portfolio .port1{
    float: left;
    width: 227px;
    height: 380px;
    margin: 20px 20px 20px 2px;
    border: 1px solid gray;
    background-color: gainsboro;
         /*transition: all 1s;*/
}
.port1:hover{
    background-color:#EBF0F5;
}

.portfolio .port2{
    float: left;
    width: 227px;
    height: 380px;
    margin: 20px 20px 20px 2px;
    border: 1px solid gray;
    background-color: gainsboro;
}
.port2:hover{
    background-color:#EBF0F5;
}
.portfolio .port3{
    float: left;
    width: 227px;
    height: 380px;
    margin: 20px 20px 20px 0px;
    /*border: 1px solid gainsboro;*/
    border: 1px solid gray;
    background-color: gainsboro;
}
.port3:hover{
    background-color:#EBF0F5;
}
.portfolio .port4{
    float: left;
    width: 227px;
    height: 380px;
    margin: 20px 0px 20px 0px;
    border: 1px solid gray;
    background-color: gainsboro;
}
.port4:hover{
    background-color:#EBF0F5;
}

.portfolio .port5{
    float: left;
    width: 227px;
    height: 380px;
    margin: 20px 20px 20px 2px;
    border: 1px solid gray;
    background-color: gainsboro;
}
.port5:hover{
    background-color:#EBF0F5;
}
.portfolio .port6{
    float: left;
    width: 227px;
    height: 380px;
    margin: 20px 20px 20px 2px;
    border: 1px solid gray;
    background-color: gainsboro;
}
.port6:hover{
    background-color:#EBF0F5;
}
.portfolio .port7{
    float: left;
    width: 227px;
    height: 380px;
    margin: 20px 20px 20px 2px;
    border: 1px solid gray;
    background-color: gainsboro;
}
.port7:hover{
    background-color:#EBF0F5;
}
.portfolio .port8{
    float: left;
    width: 227px;
    height: 380px;
    margin: 20px 20px 20px 2px;
    border: 1px solid gray;
    background-color: gainsboro;
}
.port8:hover{
    background-color:#EBF0F5;
}
.main_client{
    float: left;
    /*width: 978px;*/
    width: 1020px;
    height: 100px;
    margin: 0 auto;
    padding: 0 auto;
    /*border: 1px solid gray;*/
}
.client1{
    float: left;
    width: 182px;
    height: 76px;
    margin: 10px 10px 10px 0px;
    padding: 0px;
    background: url("../image/client1-logo.jpg") center no-repeat;
    border: 1px solid gainsboro;
}
.client1:hover{
    background: url("../image/") center no-repeat;
    height: 80px;
    cursor: pointer;
}
.client2{
    float: left;
    width: 182px;
    height: 76px;
    margin: 10px 10px 10px 5px;
    padding: 0px;
    background: url("../image/Client2-Logo.jpg") center no-repeat;
    border: 1px solid gainsboro;
}
.client2:hover{
    background: url("../image/Client2-Logo.jpg") center no-repeat;
    height: 80px;
    cursor: pointer;
}
.client3{
    float: left;
    width: 182px;
    height: 76px;
    margin: 10px 10px 10px 5px;
    padding: 0px;
    background: url("../image/Client3-Logo.jpg") center no-repeat;
    border: 1px solid gainsboro;
}
.client3:hover{
    background: url("../image/Client3-Logo.jpg") center no-repeat;
    height: 80px;
    cursor: pointer;
}
.client4{
    float: left;
    width: 180px;
    height: 76px;
    margin: 10px 10px 15px 5px;
    padding: 0px;
    background: url("../image/Client4-Logo.jpg") center no-repeat;
    border: 1px solid gainsboro;
}
.client4:hover{
    background: url("../image/Client4-Logo.jpg") center no-repeat;
    height: 80px;
    cursor: pointer;
}
.client5{
    float: left;
    width: 185px;
    height: 76px;
    margin: 10px 0px 15px 5px;
    padding: 0px;
    background: url("../image/Client5-Logo.jpg") center no-repeat;
    border: 1px solid gainsboro;
}
.client5:hover{
   background: url("../image/Client5-Logo.jpg") center no-repeat;
    height: 80px;
    cursor: pointer;
}

/*((((((((    End Client Part))))))))*/

/*(((((((  Start Big footer part   )))))))*/


.full_big_footer{
    float: left;
    width: 100%;
    height: 335px;
    margin: 0px;
    background-color: 	#E7EDF9;
}
.bigfooter{
    width: 1030px;
    height: 330px;
    background-color: #E7EDF9;
    margin: 0px auto;
    /*border: 2px solid red;*/
    
}
/*Common header*/
.bigfooter h3{
    font-family: Chewy; 
    background-color:#C2D1F0;
    text-align: center;
    font-size: 16px;
    /*border-bottom: 1px dotted;*/
    border-radius: 10px;
}

/*send*/
.bigfooter h2{
    width: 60px;
    height: 30px;
    margin: 0px 70px;
    text-align: center;
    background-color:whitesmoke;
}
.bigfooter h2:hover{
    background-color: #ECECEC;
    cursor: pointer;
}
.bigfooter .bfooter1{
    float: left;
    width: 227px;
    height: 300px;
    margin: 20px 20px 20px 25px;
    /*border: 1px solid gray;*/
    border-radius: 20px;
    background-color: gainsboro; 
}
.bfooter1 ul{
    float: left;
    margin: 5px 0px 0px 0px;
    list-style-type: none;
    font-family: Courgette-Regular;
    font-size: 15px;
}
.bfooter1 li{
    margin: 5px 10px 5px 10px;
    padding: 5px;
}
.bfooter1 a{
    float: left;
    text-decoration: none;
    margin: 7px 10px 5px 10px;
    transition: all 1s;
    
}
.bfooter1 a:hover{
    margin: 7px 20px 5px 10px;
    transform:translateX(20px);
    transition: all 1s;
}
.bfooter2{
    float: left;
    width: 227px;
    height: 300px;
    margin: 20px 20px 20px 2px;
    /*border: 1px solid gray;*/
    border-radius: 20px;
    background-color: gainsboro;
}

.bfooter2 ul{
    float: left;
    margin: 5px 30px 0px 0px;
    list-style-type: none;
    font-family: Courgette-Regular;
    font-size: 15px;
}
.bfooter2 li{
    margin: 5px 10px 5px 10px;
    padding: 5px;
}
.bfooter2 a{
    float: left;
    text-decoration: none;
    margin: 7px 10px 5px 10px;
    transition: all 1s;
    
}
.bfooter2 a:hover{
    margin: 7px 20px 5px 10px;
    transform:translateX(20px);
    transition: all 1s;
}

.bfooter2 mark{
    width: 75px;
    height: 20px;
    float: left;
    background-color: #AEC2EA;
    /*text-align: center;*/
    margin: 0px 0px;
    padding: 0px 10px;
}


.bigfooter .bfooter3{
    float: left;
    width: 235px;
    height: 300px;
    margin: 20px 20px 20px 2px;
    /*border: 1px solid gray;*/
    border-radius: 20px;
    background-color: gainsboro;
}

.bigfooter ul{
    float: left;
    margin: 5px 0px 0px 0px;
    list-style-type: none;
    font-family: Courgette-Regular;
    font-size: 15px;
}
.bigfooter li{
    margin: 5px 10px 5px 10px;
    padding: 5px;
}
.bigfooter a{
    float: left;
    text-decoration: none;
    margin: 7px 10px 5px 10px;
    transition: all 1s;
    
}
.bigfooter a:hover{
    margin: 7px 20px 5px 10px;
    transform:translateX(20px);
    transition: all 1s;
}

.bigfooter .bfooter4{
    float: left;
    width: 227px;
    height: 300px;
    margin: 20px 20px 20px 2px;
    /*border: 1px solid gray;*/
    border-radius: 20px;
    background-color: gainsboro;
}
.bfooter4 form{
    background-color: white;
    margin: 15px;
}
.bfooter4 input{
    height: 30px;
    margin: 10px 0px;
    width: 190px;
    border: 1px solid black;
    background-color: whitesmoke;
}
.bfooter4 input:focus{
    height: 30px;
    margin: 10px 0px;
    width: 190px;
    background-color: #EBF0F5;
    border: 1px solid #E27575;
}
.bfooter4 textarea{
    height: 60px;
    margin: 10px 0px;
    width: 190px;
    border: 1px solid black;
        background-color: whitesmoke;
}
.bfooter4 textarea:focus{
    height: 60px;
    margin: 10px 0px;
    width: 190px;
    background-color: #EBF0F5;
    border: 1px solid   #E27575;
}
.smallfooter{
    float: left;
    width: 100%;
    height: 60px;
    background-color: #C2D1F0;
}

.smallfooter .mainsmallfooter{
    width: 980px;
    height: 60px;
    /*background-color: red;*/
    margin: 0 auto;
}
.mainsmallfooter .f1{
    float: left;
    height: 60px;
    width: 260px;
    /*background-color: red;*/
}
.mainsmallfooter .f2{
    float: left;
    height: 60px;
    width: 450px;
    /*background-color: red;*/
    
}
.smallfooter p{
    text-align: center;
    font-family:  Courgette-Regular;
    font-size: 15px;
    padding: 10px 0px 5px 0px;
    /*margin: 5px;*/
}


.about1{
    float: left;
    width: 920px;
    height: 280px;
    background-color: silver;
    margin: 30px;
    /*border: 1px dotted red;*/
    
}
.about1 .about_left{
    float: left;
    width: 429px;
    height: 250px;
    background-color: whitesmoke;
    margin-right: 1px;
    padding: 15px;
    font-size: 17px;
}
.about1 .about_right{
    float: left;
    width: 413px;
    height: 250px;
    background-color: whitesmoke;
    margin-left: 2px;
    padding: 15px 15px 15px 30px;
    font-size: 17px;
}
.about1 ul{
    margin: 0px;
    padding: 0px;
} 
.about1 li{
    margin: 5px 0px 0px 30px;
    list-style-type: square;
    padding-left: 15px;
}

.contact_left{
    float: left;
    width: 400px;
    height: 230px;
    background-color: gainsboro;
    margin: 5px;
    padding: 5px;
    font-size: 17px; 
}
.contact_left h3{
    font-family: inherit;
    border-bottom: 1px solid #FF33CC;
    margin-bottom: 20px;
}
.contact_left li{
    margin: 0px;
    list-style-type: none;
    padding: 4px 0px 0px 0px;
    text-align: center;
}

.contact_message{
    float: left;
    width: 400px;
    height: 235px;
    background-color: gainsboro;
    margin-top: 5px;
    padding: 0px 5px 5px 5px;
    font-size: 17px;
}


.contact_message input{
    height: 30px;
    margin: 10px 100px;
    width: 190px;
    border: 1px solid black;
    background-color: whitesmoke;
}
.contact_message input:focus{
    height: 30px;
    margin: 10px 100px;
    width: 190px;
    background-color: #EBF0F5;
    border: 1px solid #E27575;
}
.contact_message textarea{
    height: 60px;
    margin: 10px 100px;
    width: 190px;
    border: 1px solid black;
    background-color: whitesmoke;
}
.contact_message textarea:focus{
    height: 60px;
    margin: 10px 100px;
    width: 190px;
    background-color: #EBF0F5;
    border: 1px solid   #E27575;
}

.contact_message h2{
    width: 60px;
    height: 30px;
    margin: 0px 170px;
    text-align: center;
    background-color:whitesmoke;
}
.contact_message h2:hover{
    background-color: #ECECEC;
    cursor: pointer;
}
.register{
    /*float: left;*/
    width: 400px;
    height: 270px;
    margin: 0auto;
    padding: 0px;
    background-color: whitesmoke;
}
.login{
    width: 400px;
    height: 100px;
}