/*
Template Name: RR Foundation
Template URI: http://rrfoundation.net
Author: Rasel Ahmed
Author URI: http://designingway.com/404
Version: 1.0
Description: This is basic Theme
*/

* {margin:0;padding:0}
body {font-family:arial;font-size:16px;line-height:22px;color:#666;background:url(images/bg.jpg) repeat fixed #ddd}
.fix {overflow:hidden}
.main {width:960px;margin:25px auto;display:block;background:#fff}
.header {}
.slider {width:960px;background:url(images/banner.jpg) no-repeat;margin-bottom:25px}
.slider_text {color: #FFFFFF;
line-height: 35px;
margin-left: 221px;
margin-top: 63px;}
.slider_text h1 {color: #0B5FB9;
font-size: 46px;
line-height: 45px;}
.slider_text h2 {}
.slider_text p {}
.maincontent {}
.sidebar {width:250px;margin-right:30px;background:#EDEDED;float:left;padding:20px;margin-left:10px}
.sidebar h2 {background: none repeat scroll 0 0 #000000; color: #FFFFFF; font-weight: normal; margin-bottom: 20px; margin-left: -20px; margin-top: -20px; padding: 10px 25px; width: 245px;}
.sidebar ul {margin:0;padding:0;list-style:none}
.sidebar ul li{padding:5px;border-bottom:1px solid #ddd}
.sidebar ul li a{text-decoration:none;color:#666}
.sidebar ul li a:hover{color:#000}
.content {width:600px;padding-right:30px}
.content h2{margin-bottom:15px;font-weight:normal;font-family: 'QuicksandLight', sans-serif;}
.content p {margin-bottom:15px}
.footer {padding:10px;background:#BBBBBB}
.single_sidebar {margin-bottom:50px}