
.basic-grey {
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    font: 12px Georgia, "Times New Roman", Times, serif;
    color:#ff3333 ;
    /*text-shadow: 2px 2px 2px #fff;*/
    border:1px solid #E4E4E4;
}
.basic-grey h1 {
    
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom:5px dashed #E4E4E4;
    margin: -10px -15px 30px -10px;;
    color: #888;
}
.basic-grey h1>span {
    display: block;
    font-size: 11px;
}
.basic-grey label {
    display: block;
    margin: 0px;
}
.basic-grey label>span {
    float: left;
    width: 21%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}
.basic-grey input[type="text"], .basic-grey input[type="email"], .basic-grey textarea, .basic-grey select {
    border: 5px double  #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height:15px;
    border-radius: 25px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
    transition:all 2s;
    -moz-transition:all 2s;
    -webkit-transition:all 2s;
    -o-transition:all 2s;
    -ms-transition:all 2s;
}
.basic-grey input[type="text"]:focus{
    width: 72%;
    border-color: red;
    
}
.basic-grey textarea{
    padding: 5px 3px 3px 5px;
}
.basic-grey select {
    
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    line-height: 25px;
}
.basic-grey textarea{
    height:100px;
}
.basic-grey .button {
    background: #E27575;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
}
.basic-grey .button:hover {
    background: #CF7A7A
}

/*Apply this class to some text to unlock the secrets of the third dimension!*/
.Three-Dee{
font-family: Garamond, serif;
line-height: 1em;
color: #fff9d6;
font-weight:bold;
font-size: 80px;
text-shadow:0px 0px 0px #cfc,
    1px 1px 0 rgb(216,216,216),
    2px 2px 0 rgb(202,202,202),
    3px 3px 0 rgb(187,187,187),
    4px 4px 0 rgb(173,173,173),
    5px 5px 0 rgb(158,158,158),
    6px 6px 0 rgb(144,144,144),
    7px 7px 6px rgba(0,0,0,0.6),
    7px 7px 1px rgba(0,0,0,0.5),
    0px 0px 6px rgba(0,0,0,.2);
}